name: Update Groups sheet

on:
  workflow_dispatch:      # ручной запуск
  schedule:
    - cron: "0 */4 * * *"

jobs:
  update-tutors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run update script
        env:
          GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
        run: |
          python update groups.py

      - name: Log completion
        run: echo "✅ Group sheet updated successfully"
